:root {
  --grid-background: black;
  --grid-border: #0df;
  --gradient001: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0.2) 30%,
    rgba(26, 27, 28, 0.2) 60%,
    rgba(26, 27, 28, 0.4) 90%
  );
}

/* putting the two grid divs into a container with display flex moved the second grid to the right of the first, instead of below it. */
h3 {
  display: inline-block;
  margin-left: 30px;
}

h2 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
}

body {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-size: 1rem;
  margin: auto;
  zoom: 125%;
}

.grid {
  width: 200px;
  height: 400px;
  background-color: var(--grid-background);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  transform: translateX(48px);
  border: 8px solid var(--grid-border);
  box-shadow: 0 2px 10px 6px rgba(0, 0, 0, 0.75);
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
  outline: 1px solid rgb(97, 97, 97);
  outline-offset: -1px;
}

.mini-grid {
  transform: translateX(48px);
  margin-left: 1em;
  width: 80px;
  height: 80px;
  background-color: var(--grid-background);
  display: flex;
  flex-wrap: wrap;
  border: 3px solid var(--grid-border);
  box-shadow: 0 2px 10px 6px rgba(0, 0, 0, 0.75);
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

#start-btn {
  margin-bottom: 20px;
  padding: 4px 6px;
  border: 3px solid var(--grid-border);
  border-radius: 10px;
  box-shadow: 0 2px 5px 6px rgba(0, 0, 0, 0.75);
  background-color: var(--grid-background);
  color: white;
}

.controls {
  margin-top: 15px;
  display: flex;
  transform: translateX(-3px);
  justify-content: center;
}

#left-btn,
#rotate-btn,
#right-btn {
  font-size: 1.75rem;
  border: 2px solid var(--grid-border);
  border-radius: 10%;
  background-color: var(--grid-background);
  color: white;
  height: 50px;
  width: 60px;
  margin: 0px 5px;
}

#right-btn {
  transform: scaleX(-1);
}

@media only screen and (max-width: 800px) {
  body {
    background-image: ;
  }

  .controls-text {
    display: none;
  }
}
